<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>我们</h2>
			<br>
			<h2>不仅仅是有执手相爱的勇气</h2>
			<br>
			<h2>更有过好日子两个人在生活琐碎消磨下依然选择不放手的定力</h2>
			<!-- <a title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a> -->
		</section>
		<!-- <section class="follow">
			<h2>Follow</h2>
			<ul>
				<li><a title="LinkedIn" href="{{ site.linkedin }}" target="_blank">LinkedIn</a></li>
				<li><a title="Twitter" href="{{ site.twitter }}" target="_blank">Twitter</a></li>
				<li><a title="Github" href="{{ site.github }}" target="_blank">Github</a></li>
			</ul>
		</section> -->
	</div>
</footer>