<script>
    function s(){
        var today=new Date();
        var first_day=new Date("2017","8","20","23","30","0","0");
        var d=document.getElementById("myHeader").innerHTML;
        var days_count=parseInt((today.getTime()-first_day.getTime())/86400000);
        var hours_count=parseInt(((today.getTime()-first_day.getTime())%86400000)*24/86400000);
        var minutes_count=parseInt(((today.getTime()-first_day.getTime())%86400000)*24%86400000*60/86400000);
        var seconds_count=parseInt(((today.getTime()-first_day.getTime())%86400000)*24%86400000*60%86400000*60/86400000);
        document.getElementById("myHeader").innerHTML=days_count+"天"+hours_count+"小时"+minutes_count+"分钟"+seconds_count+"秒";}
</script>

<header class="header">
	<div class="container">
		<h1 class="logo">
			<a title="{{ site.author }}" href="{{ site.baseurl | append: "/" }}">{{ site.author }}</a>
		</h1> 
		<h1 class="logo2">
			<a title="{{ site.author }}" href="{{ site.baseurl | append: "/" }}"> </a>
		</h1> 		
		<h1 id="myHeader" onclick="s()">这是标题</h1> 
		<script>s();</script>

	</div>
</header>